# Week 5 Item 0.5

__Participants__

- Zac Laney
- Afsana Alam
- Nicholas O'Kelley
- Nathan Young

In [1]:
import pandas as pd
import numpy as np

In [2]:
# exceeds_threshold
def exceeds_threshold(num, threshold):
    """
    Input
    -----
    num : a number
    threshold : another number

    Return
    ------
    value 'True' : if num is > threshold
    value 'False' : if num is < threshold

    Example
    _______
    exceeds_threshold(1, 6) returns 'False'

    """
    if num > threshold:
        return True
    else:
        return False

In [3]:
exceeds_threshold(1, 6)

False

In [4]:
# exceeds_threshold_filtered_array
def exceeds_threshold_filtered_array(num, threshold):
    """
    Input
    -----
    num : a list of numbers
    threshold : another number

    Return
    ------
    array : numbers from list greater than threshold

    Example
    _______
    exceeds_threshold_filtered_array(np.array([1,3, 4,5, 6]), 5) returns 'array([6])'

    """
    return num[num > threshold]

In [5]:
exceeds_threshold_filtered_array(np.array([1, 3, 4, 5, 6]), 5)

array([6])

In [6]:
# proportion_missing_from_df_column
def proportion_missing_from_df_column(df, cname):
    """
    Input
    -----
    df : pandas DataFrame
    cname : string of a specific column name

    Return
    ------
    df[cname].isna().all() : proportion of observations in DataFrame that are missing

    """
    return sum(df[cname].isna())

In [7]:
import pandas as pd

df = pd.read_csv("housing.csv")

In [8]:
proportion_missing_from_df_column(df, "median_house_value")

0

In [9]:
# clean_df
def clean_df(df_to_clean):
    """
    Input
    -----
    df_to_clean : dirty dataframe

    Return
    ------
    df_clean : clean dataframe without any missing observations or non-numerical data

    """
    df_clean = df_to_clean.dropna().select_dtypes(exclude="object")

    return df_clean

In [10]:
%time clean_df(df)

Wall time: 27 ms

,Unnamed: 0,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value
0,0,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0
1,1,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0
2,2,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0
3,3,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0
4,4,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...
20635,20635,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0
20636,20636,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0
20637,20637,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0
20638,20638,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0
20639,20639,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0